.hero{
    color: #D9D5D5;
    font-weight: 700;
    font-size: 3rem;
    text-align: left;
    max-width: 70vw;
    padding: 12vw;
    padding-bottom: 0;
}

.head-msg{
    color: #8A8A8A;
    font-size: 3.5rem;
    width: auto;
    margin-left: -1ch;
    padding-bottom: 0.5ch;
}

.head-msg>span{
    font-weight: 900;
}

.hero-text{
    max-width: 26ch;
}